/*-----------------------------------
CIRCLES
--------------------------------------*/
/*-----------------------------------
ARROWS
--------------------------------------*/
.arrowRight {
  width: 0;
  height: 0;
  border-top: 235px solid transparent;
  border-bottom: 235px solid transparent;
  border-left: 60px solid #63666a;
}

.arrowLeft {
  width: 0;
  height: 0;
  border-top: 235px solid transparent;
  border-bottom: 235px solid transparent;
  border-right: 60px solid #63666a;
}

.triangleDown {
  width: 0;
  height: 0;
  margin: auto;
  border-left: 115px solid transparent;
  border-right: 115px solid transparent;
  border-top: 35px solid #f0f0f0;
}

@media (max-width: 767px) {
  .triangleDown {
    display: none;
  }
}
/*-----------------------------------
TAGLINES
--------------------------------------*/
/*--------------------------------------
BUTTONS
----------------------------------------*/
/*---------------------
ANIMATE
----------------------*/
@keyframes slideDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.android .yui-skin-ux {
  font-family: 'Roboto', sans-serif !important;
}
.android .yui-skin-ux .fa {
  font-family: FontAwesome !important;
}
.android .yui-skin-ux p, .android .yui-skin-ux div, .android .yui-skin-ux table, .android .yui-skin-ux tr, .android .yui-skin-ux th, .android .yui-skin-ux td, .android .yui-skin-ux span, .android .yui-skin-ux button.primary, .android .yui-skin-ux .yui-push-button.default, .android .yui-skin-ux button:not([class^="janrain"]):not(.email-wizard-recipients-actions-button), .android .yui-skin-ux .yui-push-button, .android .yui-skin-ux .yui-panel-container.yui-dialog span.default button, .android .yui-skin-ux .tagline h1, .android .yui-skin-ux .customBtn, .android .yui-skin-ux .track-progress, .android .yui-skin-ux #hd-nav li a, .android .yui-skin-ux #hd-nav li a:link {
  font-family: 'Roboto', sans-serif !important;
}

.janrainSocialRoot .janrainShareForm {
  position: static;
}

.yui-skin-ux {
  /*------------------------------
  LOADING BAR
  --------------------------------*/
  /*----------------------------
  LAYOUT
  ------------------------------*/
  /*-----------------------------------
  BUTTONS
  -------------------------------------*/
  /*-------------------
  MASTHEAD
  ----------------------*/
  /*----------------------
  NAV
  ------------------------*/
  /*---------------------
  HOME
  ------------------------*/
  /*---------------------------
  BADGES
  -----------------------------*/
  /*---------------------
  PROGRESS BARS
  -----------------------*/
  /*---------------------
  RECENT ACTIVITY
  -----------------------*/
  /*EMAIL*/
}
.yui-skin-ux *, .yui-skin-ux html, .yui-skin-ux body, .yui-skin-ux p, .yui-skin-ux div, .yui-skin-ux table, .yui-skin-ux tr, .yui-skin-ux th, .yui-skin-ux td {
  color: #888b8d;
  font-family: TTRounds-Regular, sans-serif;
}
.yui-skin-ux .fa {
  font-family: FontAwesome !important;
}
.yui-skin-ux p {
  margin: 0 0 20px;
}
.yui-skin-ux a, .yui-skin-ux a:link {
  color: #00b5e2;
  font-size: 18px;
  font-weight: normal;
}
.yui-skin-ux span {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.yui-skin-ux .page-header, .yui-skin-ux #msg_cat_progress_bar_title {
  color: #485cc7;
  font-size: 30px;
  font-family: TTRounds-Bold;
}
.yui-skin-ux h1, .yui-skin-ux div.h1-imposter {
  color: #485cc7;
  font-family: TTRounds-Bold;
}
.yui-skin-ux #sidebar .side-content.editable h3, .yui-skin-ux #sidebar .sidebar-form h3 {
  margin: 0;
}
.yui-skin-ux h2 {
  color: #485cc7;
  font-size: 24px;
  font-family: TTRounds-Bold;
}
.yui-skin-ux h3 {
  font-size: 20px;
  margin: 0 0 20px;
}
.yui-skin-ux select {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}
.yui-skin-ux .yui-dialog .bd label {
  font-size: 16px;
}
.yui-skin-ux .yui-panel .hd {
  background: #485cc7;
}
.yui-skin-ux .ui-progressbar .ui-progressbar-value {
  background: none repeat scroll 0 0 #f1b434;
  /* loading bar */
}
.yui-skin-ux .ui-widget-header {
  border: 1px solid transparent;
  /* loading bar border */
}
.yui-skin-ux .ui-corner-left, .yui-skin-ux .ui-corner-right, .yui-skin-ux .ui-corner-all {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.yui-skin-ux .ui-progressbar {
  background: none repeat scroll 0 0 #FFFFFF;
  /* LOADING BAR BACKGROUND */
  border-color: #f1b434;
}
.yui-skin-ux #wait_c {
  background: url("https://secure2.convio.net/mda/images/content/teamRaiser/mdaLogo.png") no-repeat scroll center 120px #FFFFFF !important;
  border: 5px solid #485cc7;
  height: 210px;
  top: 20px !important;
  width: 340px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 5px #323232;
  -moz-box-shadow: 0px 0px 5px #323232;
  -ms-box-shadow: 0px 0px 5px #323232;
  box-shadow: 0px 0px 5px #323232;
  padding: 0;
}
.yui-skin-ux #wait_c .underlay {
  display: none;
}
.yui-skin-ux #doc2 {
  width: 100%;
}
.yui-skin-ux #hd {
  max-width: 100%;
  margin: auto;
}
.yui-skin-ux .container {
  margin: auto;
}
.yui-skin-ux .ux-main {
  margin-bottom: 0;
}
.yui-skin-ux #bd-org-html.ux-block2 {
  padding: 0;
}
.yui-skin-ux #bd {
  max-width: 1000px;
  margin: 35px auto;
  background: transparent;
}
.yui-skin-ux #bd.full {
  max-width: 100%;
  margin: 0 auto;
}
.yui-skin-ux #bd.full div#yui-main {
  width: 100% !important;
  margin: auto;
}
.yui-skin-ux #bd.full div#yui-main div#content {
  border: 0 none;
  width: 100%;
  max-width: 100%;
}
.yui-skin-ux div.ux-main div#yui-main div#content {
  border: 0 none;
}
.yui-skin-ux #content.yui-b {
  padding: 0;
}
.yui-skin-ux div#content {
  padding: 0;
  max-width: 1000px;
  margin: auto;
}
.yui-skin-ux div.ux-main div.dashboard-bd {
  border: 0 none;
}
.yui-skin-ux div.ux-main div.dashboard-bd div#yui-main {
  margin-right: 15px;
}
.yui-skin-ux #sidebar {
  width: 18em !important;
}
.yui-skin-ux #sidebar.homeSide {
  max-width: 1000px;
  margin: 0 auto !important;
  width: auto !important;
  float: none !important;
  text-align: right;
}
.yui-skin-ux button.primary, .yui-skin-ux .yui-push-button.default, .yui-skin-ux button:not([class^="janrain"]):not(.email-wizard-recipients-actions-button), .yui-skin-ux .yui-push-button, .yui-skin-ux .yui-panel-container.yui-dialog span.default button {
  background: #f1b434 !important;
  border: 0 none !important;
  border-radius: 0 !important;
  color: #fff;
  font-size: 18px;
  outline: none;
  font-weight: normal !important;
}
.yui-skin-ux button.primary:hover, .yui-skin-ux .yui-push-button.default:hover, .yui-skin-ux button:not([class^="janrain"]):not(.email-wizard-recipients-actions-button):hover, .yui-skin-ux .yui-push-button:hover, .yui-skin-ux .yui-panel-container.yui-dialog span.default button:hover {
  background: #00b5e2 !important;
}
.yui-skin-ux a.customBtn, .yui-skin-ux .customBtn {
  color: #888b8d;
  font-size: 20px;
}
.yui-skin-ux a.customBtn:hover {
  color: #485cc7;
}
.yui-skin-ux .ctaBtn {
  clear: both;
  margin: 0 auto 35px;
  max-width: 635px;
  text-align: center;
}
.yui-skin-ux .ctaBtn .customBtn {
  margin: 0 auto;
  display: inline-block;
}
.yui-skin-ux .ctaBtn .selfDonate {
  margin-left: 5%;
}
.yui-skin-ux .yui-panel .ft .yui-button.yui-push-button {
  padding: 0;
}
.yui-skin-ux .yui-panel .ft .yui-button.yui-push-button button {
  padding: 10px 20px !important;
}
.yui-skin-ux .ui-button-text-icon-secondary .ui-button-icon-secondary {
  display: none;
}
.yui-skin-ux div#sidebar div#address_book_add #msg_cat_add_contact_submit_button, .yui-skin-ux div#sidebar div#sidebar div#address_book_add button, .yui-skin-ux div#sidebar div#sidebar div#address_book_add #msg_cat_add_contacts_cancel_link, .yui-skin-ux div#sidebar .sidebar-actions button {
  float: none;
  margin: 0 auto 20px;
}
.yui-skin-ux .mastheadWrap {
  position: relative;
}
.yui-skin-ux .mastheadWrap .navbar-brand {
  float: left;
  position: static;
}
.yui-skin-ux .mastheadWrap .loggedIn p {
  font-size: 16px;
}
.yui-skin-ux .mastheadWrap .loggedIn a {
  margin: 0;
  font-size: 14px;
}
.yui-skin-ux .mastheadWrap .loggedIn #msg_cat_nav_help_link {
  color: inherit;
  font-size: 14px;
}
.yui-skin-ux #hd-small {
  display: none;
}
.yui-skin-ux .ux-hd-row {
  margin: 0;
}
.yui-skin-ux #hd-nav {
  max-width: 1000px;
  margin: auto;
  float: none;
}
.yui-skin-ux #hd-nav li {
  background-color: #485cc7;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.yui-skin-ux #hd-nav li a, .yui-skin-ux #hd-nav li a:link {
  display: block;
  font-size: 20px;
  font-family: TTRounds-Bold;
  border: 0 none;
  padding: 0 20px;
  line-height: 50px;
}
.yui-skin-ux #hd-nav li:hover, .yui-skin-ux #hd-nav .selected {
  background-color: #00b5e2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 0 none;
}
.yui-skin-ux #hd-nav li:hover a, .yui-skin-ux #hd-nav .selected a {
  color: #fff;
}
.yui-skin-ux .tagline {
  height: 70px;
}
.yui-skin-ux .tagline .container {
  position: relative;
}
.yui-skin-ux .tagline h1 {
  font-family: TTRounds-Bold;
  color: #fff;
  font-size: 42px;
  line-height: 70px;
}
.yui-skin-ux #msg_cat_overview_label, .yui-skin-ux #msg_cat_personal_report_label {
  display: none;
}
.yui-skin-ux #msg_cat_what_next_question {
  display: none;
}
.yui-skin-ux #content.yui-b .tagline.steps h1 {
  line-height: 70px;
  color: #fff;
  font-family: TTRounds-Bold;
  margin: auto;
  font-size: 30px;
}
.yui-skin-ux #bd-what-next {
  margin: 0 auto 35px;
}
.yui-skin-ux #bd-what-next .tagline {
  border-bottom: 2px solid #fff;
}
.yui-skin-ux #bd-what-next #what-next-answer {
  display: none;
}
.yui-skin-ux #bd-what-next .container {
  margin: 0 auto;
}
.yui-skin-ux .nextStepsWrap {
  border-bottom: 20px solid #485cc7;
  margin: 0 0 35px;
}
.yui-skin-ux .what-next-answer-item {
  border: 0 none;
  border-bottom: 2px solid #fff;
  background: #f1b434;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  margin: 0;
  display: block;
  height: 80px;
  padding: 8.5px 0;
}
.yui-skin-ux .what-next-answer-item .fa-arrow-right {
  display: none;
}
.yui-skin-ux .what-next-answer-item .number {
  font-size: 45px;
  line-height: 60px;
}
.yui-skin-ux .what-next-answer-item:hover {
  background: #485cc7;
  cursor: pointer;
}
.yui-skin-ux .what-next-answer-item:hover .what-next-type, .yui-skin-ux .what-next-answer-item:hover .what-next-message {
  color: #fff;
}
.yui-skin-ux .what-next-answer-item:hover .what-next-icon {
  background: #f1b434;
}
.yui-skin-ux .what-next-answer-item:hover .fa-arrow-right {
  display: block;
  color: #485cc7;
  font-size: 45px;
  line-height: 60px;
}
.yui-skin-ux .what-next-answer-item:hover .number {
  display: none;
}
.yui-skin-ux .what-next-icon {
  margin: 0 10px 0 0;
  padding: 0;
  color: #485cc7;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #fff;
  text-align: center;
  line-height: 0;
  position: relative;
  font-weight: bold;
  padding: 0;
}
.yui-skin-ux .what-next-message-container {
  width: 85%;
  width: calc(100% - 90px);
  display: inline-block;
}
.yui-skin-ux .what-next-type {
  font-size: 24px;
  color: #63666a;
  font-family: TTRounds-Bold;
}
.yui-skin-ux .what-next-message {
  font-size: 16px;
  color: #63666a;
  font-family: TTRounds-Bold;
}
.yui-skin-ux .what-next-answer-item.what-next-completed {
  margin: 0;
  background: #fff;
  border-color: #485cc7;
}
.yui-skin-ux .what-next-answer-item.what-next-completed .what-next-icon {
  background: #485cc7;
}
.yui-skin-ux .what-next-answer-item.what-next-completed .what-next-type, .yui-skin-ux .what-next-answer-item.what-next-completed .what-next-message {
  color: #485cc7;
  font-family: TTRounds-Bold;
}
.yui-skin-ux .what-next-answer-item.what-next-completed .fa {
  color: #fff;
  line-height: 60px;
  font-size: 45px;
}
.yui-skin-ux #captainsMessage {
  text-align: center;
}
.yui-skin-ux #captainsMessage #captainsMessageEditLink {
  text-align: center;
}
.yui-skin-ux .badges {
  border: 0 none;
  padding: 0;
  margin: 0 auto 70px;
  text-align: center;
}
.yui-skin-ux .badges h3, .yui-skin-ux .badges p {
  text-align: center;
}
.yui-skin-ux .badges .badge {
  display: inline-block;
  width: 130px;
  margin: 0 0 20px;
}
.yui-skin-ux .badges .badge img {
  display: block;
  margin: auto;
}
.yui-skin-ux .badges .badge span {
  color: #63666a;
  font-size: 16px;
  display: block;
  text-align: center;
  font-family: TTRounds-Bold;
  margin: 10px 0 0;
}
.yui-skin-ux .badges .badge span.unlocked {
  color: #485cc7;
}
.yui-skin-ux #bd-personal-progress {
  padding: 0;
  margin: auto;
  max-width: 710px;
}
.yui-skin-ux div.progress-bar-outer {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.yui-skin-ux div.progress-bar-inner {
  background: #f1b434;
  border: 0 none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.yui-skin-ux .fundraising-progress .section {
  border: 0 none;
  background: none;
  float: left;
}
.yui-skin-ux .fundraising-progress .section.progress-amt-raised {
  margin-left: 0;
  padding-left: 0;
}
.yui-skin-ux .big-block {
  color: #485cc7;
  font-family: TTRounds-Bold;
  margin: 0 0 5px;
}
.yui-skin-ux .tiny-block {
  color: #888b8d;
  font-size: 18px;
  display: block;
  margin: 0 0 5px;
}
.yui-skin-ux #progress-change-goal-link, .yui-skin-ux #edit-team-goal-section {
  display: none;
}
.yui-skin-ux #bd-recent-activity {
  background: url("https://secure2.convio.net/mda/images/content/teamRaiser/walkFeatureBkrd.png") no-repeat scroll 100% 0 transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 70px;
  margin-top: 70px;
  min-height: 500px;
}
.yui-skin-ux #bd-recent-activity #msg_cat_recent_activity_header {
  font-family: TTRounds-Bold;
  font-size: 24px;
  max-width: 1000px;
  margin: 35px auto;
  color: #485cc7;
}
.yui-skin-ux #bd-recent-activity a, .yui-skin-ux #bd-recent-activity a:link {
  font-size: inherit;
}
.yui-skin-ux #bd-recent-activity #bd-recent-activity-detail {
  max-width: 1000px;
  margin: auto;
}
.yui-skin-ux #bd-recent-activity .yui-dt thead {
  background: none transparent;
}
.yui-skin-ux #bd-recent-activity .yui-dt th {
  border: 0 none;
  border-bottom: 1px solid #f1b434;
}
.yui-skin-ux #bd-recent-activity .yui-dt-liner {
  padding: 15px 1%;
}
.yui-skin-ux #bd-recent-activity tr.yui-dt-even, .yui-skin-ux #bd-recent-activity .yui-dt tr.yui-dt-odd {
  background-color: transparent;
}
.yui-skin-ux #bd-recent-activity td {
  border: 0 none;
  border-bottom: 1px solid #f1b434;
}
.yui-skin-ux #bd-recent-activity span.yui-dt-label {
  color: #888b8d;
  font-size: 18px;
}
.yui-skin-ux .bd-donation-history h3 {
  margin: 20px 0;
}
.yui-skin-ux #email-compose-templates h3 {
  margin: 20px 0 0;
}
.yui-skin-ux .email-wizard-status-indicator, .yui-skin-ux .addressbookimport-wizard-status-indicator {
  top: 0;
  display: none;
}
.yui-skin-ux .track-progress li.email-wizard-nav-selected + li > span:before, .yui-skin-ux .track-progress li.addressbookimport-wizard-nav-selected + li > span:before, .yui-skin-ux .track-progress li.email-wizard-nav-selected:hover + li > span:before, .yui-skin-ux .track-progress li.email-wizard-nav-unselected:hover + li > span:before, .yui-skin-ux .track-progress li > span:before {
  border-left-color: #485cc7;
}
.yui-skin-ux .track-progress li.email-wizard-nav-selected, .yui-skin-ux .track-progress li.email-wizard-nav-selected > span, .yui-skin-ux .track-progress li.addressbookimport-wizard-nav-selected > span, .yui-skin-ux .track-progress li.email-wizard-nav-selected:hover > span, .yui-skin-ux .track-progress li.email-wizard-nav-unselected:hover > span, .yui-skin-ux .track-progress li.email-wizard-nav-selected span:before {
  border-left-color: #485cc7;
}
.yui-skin-ux .track-progress li, .yui-skin-ux .track-progress li.email-wizard-nav-selected, .yui-skin-ux .track-progress li.email-wizard-nav-selected > span, .yui-skin-ux .track-progress li.email-wizard-nav-selected:hover > span, .yui-skin-ux .track-progress li.email-wizard-nav-unselected:hover > span {
  background-color: #485cc7;
}
.yui-skin-ux .track-progress li.email-wizard-nav-selected > span, .yui-skin-ux .track-progress li.addressbookimport-wizard-nav-selected > span, .yui-skin-ux .track-progress li.email-wizard-nav-selected:hover > span, .yui-skin-ux .track-progress li.email-wizard-nav-unselected:hover > span, .yui-skin-ux .addressbookimport-wizard-nav-selected .addressbookimport-wizard-status-indicator {
  background-color: #485cc7;
  color: #fff;
  font-family: TTRounds-Bold;
}
.yui-skin-ux .track-progress li.email-wizard-nav-selected > span, .yui-skin-ux .track-progress li.email-wizard-nav-selected:hover > span, .yui-skin-ux .track-progress li.addressbookimport-wizard-nav-selected > span, .yui-skin-ux .track-progress li.addressbookimport-wizard-nav-selected:hover > span {
  color: #f1b434;
}
.yui-skin-ux div#email-contacts-content div.search input#contacts-search-text {
  margin: 0 0 10px;
}
.yui-skin-ux div#email-contacts-content div#contacts-actions a, .yui-skin-ux div#email-contacts-content div#contacts-actions button {
  font-size: 16px;
}
.yui-skin-ux #email-wizard-contacts-table td.email-wizard-contacts-checkbox {
  width: 35px;
}
.yui-skin-ux footer .container {
  margin: auto;
}
.yui-skin-ux footer .container .footerActions {
  margin: 0 0 0 50px;
}
.yui-skin-ux footer .container a, .yui-skin-ux footer .container a:link, .yui-skin-ux footer .container p, .yui-skin-ux footer .container span {
  color: #fff;
  font-size: 14px;
}
.yui-skin-ux footer .container .side-links {
  margin: 0;
  text-align: left;
}
.yui-skin-ux footer .container .side-links li {
  padding: 0;
  line-height: 1.75;
}
.yui-skin-ux footer .container #subnav_oci_link {
  display: none;
}

@media (max-width: 1024px) {
  .yui-skin-ux #hd-nav {
    max-width: 100%;
  }
  .yui-skin-ux #hd-nav li, .yui-skin-ux #hd-nav .selected {
    padding: 0;
    margin: 0;
  }
  .yui-skin-ux #hd-nav li a, .yui-skin-ux #hd-nav li a:link, .yui-skin-ux #hd-nav .selected a, .yui-skin-ux #hd-nav .selected a:link {
    padding: 0 0 0 15px !important;
  }
  .yui-skin-ux #content.yui-b {
    padding: 0 !important;
  }
  .yui-skin-ux .what-next-answer-item {
    height: auto;
    padding: 10px 0;
  }
  .yui-skin-ux .what-next-icon {
    display: block;
    margin: 0 auto 10px !important;
  }
  .yui-skin-ux .what-next-message-container {
    width: 100%;
    text-align: center;
  }
  .yui-skin-ux .ctaBtn .customBtn, .yui-skin-ux .ctaBtn .selfDonate {
    margin: 0 auto 20px;
    display: block;
  }
  .yui-skin-ux .fundraising-progress .section {
    padding: 10px 0;
  }
  .yui-skin-ux .right.socialMedia {
    float: left;
    margin: 35px 0 0;
  }
}
@media (max-width: 768px) {
  .yui-skin-ux .mastheadWrap .loggedIn p {
    margin: 0;
    color: #fff;
  }
  .yui-skin-ux .mastheadWrap .loggedIn span {
    color: #fff;
  }
  .yui-skin-ux .mastheadWrap .loggedIn a {
    color: #fff;
    text-decoration: underline;
  }
  .yui-skin-ux #contacts-table-info-block .partial {
    width: 100%;
    float: none;
  }
  .yui-skin-ux .ctaBtn .customBtn, .yui-skin-ux .ctaBtn .selfDonate {
    margin: 0 auto 20px;
    display: block;
  }
  .yui-skin-ux div.progress-bar-outer {
    display: none;
  }
  .yui-skin-ux #contacts-list tbody tr {
    display: table;
  }
  .yui-skin-ux footer .right.socialMedia {
    display: block;
  }
  .yui-skin-ux footer .container .footerActions {
    margin: 0;
  }
  .yui-skin-ux footer .left > a {
    float: left;
    margin: 0 0 35px;
  }
}
@media (max-width: 568px) {
  .janrainSocialRoot .janrainShareForm {
    max-width: 275px;
    width: 100%;
  }

  .yui-skin-ux div#email-wizard-contacts button {
    display: block;
    margin: 20px 0 0;
  }
  .yui-skin-ux #bd-recent-activity span.yui-dt-label {
    font-size: 12px;
  }
  .yui-skin-ux #bd-recent-activity .yui-dt th, .yui-skin-ux #bd-recent-activity .yui-dt td {
    width: auto;
    max-width: 23%;
  }
  .yui-skin-ux #bd-recent-activity .yui-dt .recent-activity-date {
    width: 50px !important;
  }
}
