
$fontStack: 'Roboto', sans-serif;
$customFont: TTRounds-Regular, sans-serif;
$customFontBold: TTRounds-Bold;
$fontBody: 18px;


$bigMargin: 70px;
$halfMargin: 35px;
$smallMargin: 20px;

$headlineFont: 42px;
$biggestFont:36px;
$bigFont: 30px;
$mediumLarge: 24px;
$mediumFont: 20px;

$heroScaleDown: 300px;
$heroScaleDown2: 200px;

$primaryColor: #485cc7; 
$secondaryColor: #f1b434;
$greyColor: #888b8d;
$darkGrey:  #63666a;
$ltGrey: #f0f0f0;
$cyanColor: #00b5e2; 
$redColor: #a50034;
$linkColor: #00b5e2; 


$maxWidth: 1000px;
$borderWidth: 5px;


